{% extends 'paginas/index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5">
    <h3 class="text-center mb-4">{{ titulo }}</h3>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg w-100">{{ botao }}</button>
            <a href="{% url 'listar-avaliacoes' %}" class="btn btn-secondary btn-lg w-100 mt-2">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}