{% extends 'paginas/index.html' %}

{% load static %}

{% block conteudo %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Excluir Registro</h2>
    <p class="text-center">
        Confirme para excluir o registro definitivamente.
    </p>
    <form method="post" novalidate>
        {% csrf_token %}
        <p class="text-center">
            Deseja excluir o registro: <b>{{ object }}</b>?
        </p>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger btn-lg">Excluir</button>
            <a href="{% url 'listar-training-exercicios' %}" class="btn btn-secondary btn-lg">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
