{% csrf_token %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if request.user.is_authenticated %}
                <div class="card shadow-sm">
                    <div class="card-header text-center bg-primary text-white">
                        <h3>{{ titulo }}</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block mt-4">{{ botao }}</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    Você precisa estar logado para cadastrar um registro.
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-success btn-block w-50">Fazer Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

