<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Excluir Registros</h2>
        <p>
            Confirme para excluir o registro definitivamente
        </p>
        <form method="POST" novalidate>

            <p>
                Deseja excluir o registro: <b>{{ object }} ?</b>
            </p>

            {% csrf_token %}

            {{ form.as_p }}  <!-- Isso renderiza o formulário como parágrafos HTML -->

            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>
</body>
</html>
