{% extends 'paginas/index.html' %}

{% load static %}

{% block title %}Adicione uma tarefa{% endblock %}

{% block conteudo %}
<div class="container mt-4">
    <div class="col-md-8 offset-md-2">
        <h5 class="text-primary text-center mb-4">Adicionar Novo Evento</h5>
        <form method="post">
            {% csrf_token %}
            
            <!-- Exibe erros gerais (não relacionados a campos específicos) -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="title" class="font-weight-bold">Título:</label>
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.title.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
    
            <div class="form-group">
                <label for="title" class="font-weight-bold">Título:</label>
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.title.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="description" class="font-weight-bold">Descrição:</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.description.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="turma" class="font-weight-bold">Programa de Treino:</label>
                {{ form.programa_treino }}
                {% if form.turma.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.turma.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="start_date" class="font-weight-bold">Data de Início:</label>
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.start_date.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="end_date" class="font-weight-bold">Data de Fim:</label>
                {{ form.end_date }}
                {% if form.end_date.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.end_date.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="start_time" class="font-weight-bold">Hora de Início:</label>
                {{ form.start_time }}
                {% if form.start_time.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.start_time.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="end_time" class="font-weight-bold">Hora de Fim:</label>
                {{ form.end_time }}
                {% if form.end_time.errors %}
                    <div class="text-danger">
                        <ul>
                            {% for error in form.end_time.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group text-center" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </form>     
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>  

    <script>
        $(document).ready(function(){
            $('#id_start_date').mask('00/00/0000');
            $('#id_end_date').mask('00/00/0000');
            $('#id_start_time').mask('00:00:00');
            $('#id_end_time').mask('00:00:00');
        })
    </script>
{% endblock %}