{% extends 'paginas/index.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block conteudo %}
<style>
    #calendar-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    #calendar {
        width: 100%;
        min-height: 400px;
    }

    @media (min-width: 992px) {
        #calendar-container {
            flex-wrap: nowrap;
        }
        #events-column {
            max-width: 25%;
        }
        #calendar-column {
            max-width: 75%;
        }
    }

    .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .fc-toolbar-chunk {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }

    @media (max-width: 576px) {
        .fc-header-toolbar {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .fc-toolbar-chunk {
            justify-content: flex-start;
        }
    }
</style>

<div class="container-fluid mt-4">
    <div class="row" id="calendar-container">
        <!-- Coluna de eventos do dia -->
        <div class="col-md-3 mb-3" id="events-column">
            <h5>Eventos do dia:</h5>
            {% for event in events_today %}
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="card-text"><strong>Evento de:</strong> {{ event.usuario.username }}</p>
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text"><strong>Descrição:</strong> {{ event.description }}</p>
                        <a href="/task/{{ event.id }}" class="btn btn-primary btn-sm">Ver Detalhes</a>
                    </div>
                </div>
            {% empty %}
                <p class="text-muted">Não há eventos para hoje.</p>
            {% endfor %}
        </div>
        <!-- Coluna do calendário -->
        <div class="col-md-9" id="calendar-column">
            <div id="calendar"></div>
        </div>
        
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-sm-auto">
        <a id="add-link" href="{% url 'new-task' %}" class="btn btn-primary d-flex align-items-center">
            <i class="fas fa-plus me-2"></i>  Adicionar evento
        </a>
    </div>
</div>
<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                list: 'Agenda'
            },
            events: '/api/tasks/',  // URL da API para carregar todos os eventos
            eventClick: function(info) {
                var taskId = info.event.id;
                window.location.href = '/task/' + taskId;
            },
            displayEventTime: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            height: "auto",
        });

        calendar.render();
    });
</script>

{% endblock %}
