{% extends 'paginas/index.html' %}

{% block title %}{{task.title}}{% endblock %}

{% load static %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Editando '{{task.title}}'</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Editar Tarefa">
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>  

    <script>

        $(document).ready(function(){

            $('#id_start_date').mask('00/00/0000');
            $('#id_end_date').mask('00/00/0000');
            $('#id_start_time').mask('00:00:00');
            $('#id_end_time').mask('00:00:00');
        })

    </script>
{% endblock %}