{% extends 'paginas/index.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de Campos Registrados 
</h3>
<hr>
<div class="table-responsive">

</div>
<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Campo</th>
    </tr>


    {% for campo in object_list %}
    <tr>
       <td>{{ campo.nome }}</td>
       <td>
        Editar
        Excluir
       </td> 
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum campo resgistrado.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}