{% extends 'paginas/index.html' %}

{% load static %}

{% block conteudo %}
<div class="container my-5">
    <h3 class="text-center text-primary mb-4">
        Lista de Usuários Registrados 
    </h3>

    <hr>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Email Acadêmico</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.usuario }}</td>
                    <td>{{ user.matricula }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-muted">Nenhum usuário registrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <!-- Paginação Responsiva -->
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Paginação">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Primeira</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
