{% extends 'paginas/index.html' %}

{% load static %}

{% block conteudo %}
<h3>
    Lista de Usuários Registrados 
</h3>

<a href="{% url 'cadastrar-userauth' %}" class="btn btn-primary btn-sm">Adicionar Usuário</a>
<hr>
<div class="table-responsive">
</div>
<table class="table table-striped">
    <tr>
        <th>ID</th> <!--SO TESTE-->
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Opções</th>
    </tr>

    {% for user in object_list %}
    <tr>
        <td>{{ user.pk }}</td>
        <td>{{ user.user }}</td>
        <td>{{ user.matricula }}</td>
        <td>
            <a href="{% url 'editar-userauth' user.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
            <a href="{% url 'excluir-userauth' user.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
        </td> 
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Nenhum usuário registrado.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
